<app-nav-bar></app-nav-bar>
<div class="log">
  <h1>Login</h1>
  <div class="login-tag">
    <form #loginform="ngForm" (ngSubmit)="loginUser()">
      <!-- {{loginform.form.valid}} -->
      <!-- <small class="danger">{{msg}}</small> -->
      <input
        type="email"
        class="form-control"
        id="inputEmail4"
        placeholder="Email"
        [(ngModel)]="login.email"
        name="email"
        form
        required
        pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z_]{2,3}$"
        #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched"
      />
      <div *ngIf="email.errors && email.invalid && email.touched">
        <small class="text-danger" *ngIf="email.errors?.['required']"
          >Email is required</small
        >
        <small class="text-danger" *ngIf="email.errors?.['pattern']"
          >Enter the valid email
        </small>
      </div>
      <br />
      <input
        id="Password"
        name="Password"
        placeholder="Password"
        class="form-control"
        required="required"
        type="password"
        [(ngModel)]="login.password"
        name="password"
        required
        minlength="6"
        #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
      />
      <small
        class="text-danger"
        [class.d-none]="password.valid || password.untouched"
        >Password is required</small
      >
      <br />
      <button type="submit" class="btn btn-info">Login</button><br />
    </form>

    <!-- <a href="">Forgot Your Password ?</a><br /> -->
    <!-- <small class="float-right" ></small> -->
    <!-- <a href="http://localhost:4200/">SignUp</a> -->
  </div>
</div>
