<app-nav-bar></app-nav-bar>
<div class="movie-tag">
  <div class="row">

    <div class="col-lg-06">
      <img  src="../../../assets/panda.png" style="height: 40rem; " alt="">
      
    </div>
    <div class="col-lg-06 overflow-auto" style="height: 40rem">
      <div class="card" *ngFor="let movie of movie">
        <div *ngIf="customer"></div>
        <img
          class="card-img-top"
          src="{{ movie.image }}"
          alt="Card image cap"
        />

        <div class="card-body">
          <p class="description">
            <a
              style="
                color: #fff80a;
                text-shadow: 2px 2px 8px #000;
                padding-right: 10px;
              "
              >Movie Name :</a
            >
            {{ movie.title }}
          </p>
          <p class="language">
            <a
              style="
                color: #fff80a;
                text-shadow: 2px 2px 8px #000;
                padding-right: 10px;
              "
              >Language :
            </a>
            {{ movie.language }}
          </p>
          <p class="cast">
            <a
              style="
                color: #fff80a;
                text-shadow: 2px 2px 8px #000;
                padding-right: 10px;
              "
              >Cast :
            </a>
            {{ movie.cast }}
          </p>
          <p class="price">
            <a
              style="
                color: #fff80a;
                text-shadow: 2px 2px 8px #000;
                padding-right: 10px;
              "
              >Price :
            </a>
            {{ movie.price }}
          </p>
          <p class="theatreName">
            <a
              style="
                color: #fff80a;
                text-shadow: 2px 2px 8px #000;
                padding-right: 10px;
              "
              >Theatre Name  :
            </a>
            {{ movie.theatre.theatreName }}
          </p>



          
          

          <button
            class="Button-tag"
            style="
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
              background-color: #2d4263;
              border: 0;
              border-radius: 20px;
              height: auto;
              width: 100%;
              padding: 10px;
              color: #fff;
            "
            routerLink="/book-slot/{{ customer.customerid }}/{{
              movie.movieid
            }}"
          >
            <a style="color: white">Book Your Tickets 🍿</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
